hr {
    border-top:1px dotted #dcdcdc;
}


body {
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

h1, h2, h3, h4, .banner {
    font-family: 'Josefin Sans', sans-serif;
}

h2 {
    font-size: 1.25em;;
    font-weight: 800;
}

header {
    position: relative;
    padding-bottom: 14px;
    border-bottom: 2px #d2232a solid;
}

header .banner {
    background-color: #d2232a;
    font-size: 1.25em;;
    color: white;
    max-width: 300px;
    text-align: center;
    padding: 3px;
    margin: 0 auto;
}

header h1 {
    font-size: 1.4em;
    text-align: center;
}
.header-text-container {
    text-align: center;
}

.header-text-container h3 {
    display: inline-block;
    font-size: 1.1em;
    letter-spacing: .001em;
}


.header-text-container div {
    display: inline-block;
}

img {
    position: absolute;
    bottom: -4px;
    left: -23px;
    max-width: 163px;
}


main {
    padding-top: 14px;
}

.form-inline {
    /*margin-bottom: 19px;*/
}

.form-inline-1 .form-group {
    width: 32.9%;
}

.form-inline-1 label {
    width: 60%;
}

.form-inline-1 .field-2 label {
    width: 58%;
}

.form-inline-1 .line-under {
    width: 33%;
}

.form-inline .selectors-container label:first-child {
    width: 42%;
}

.form-inline .selector-container {
    width: 27%;
    display: inline-block;
}

.form-inline .selector-container label {
    width: 42%;
}

.form-inline .selector-container label {
    width: 48%;
}

.form-inline-2 .field-1 {
    width: 36%;
}

.form-inline-2 .field-1 label {
    width: 70%;
}

.form-inline-2 .field-1 .line-under {
    width: 28%;
}

.form-inline-2 .field-2 {
    width: 25%;
}

.form-inline-2 .field-2 label {
    width: 47%;
}

.form-inline-2 .field-2 .line-under {
    width: 44%;
}


.form-inline-2 .field-3 {
    width: 37%;
}

.form-inline-3 {
    margin-bottom: 18px;
}

.form-inline-3 .form-group {
    width: 30.4%;
}

.form-inline-3 .form-group.field-1 {
    width: 38%;
}

.form-inline-3 .field-1 label {
    width: 74%;
}

.form-inline-3 .field-1 .line-under {
    width: 24%; 
}

.form-inline-3 .field-2 label {
    width: 60%;
}

.form-inline-3 .field-2 .line-under {
    width: 38%; 
}

.form-inline-3 .field-3 label {
    width: 59%;
}

.form-inline-3 .field-3 .line-under {
    width: 37%; 
}

.form-inline-4 .form-group {
    width: 49.7%;
}

.form-inline-4 .form-group label:first-child {
    margin-right: 16px;
}


label {
    font-weight: 400;
    font-size: 1.016em;;
}

input.line-under {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid #dcdcdc;
    bottom: 4px;
}

.full-line-label {
    width: 16%;
}

.full-line {
    width: 83%;
    position: relative;
    left: .6%;
}


.indented-field-container input.line-under {
    width: 33px;
}

.help-container {
        width: 282px;
    display: inline-block;
}

.help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #9a9a9a;
    font-size: .86em;
}

.help-block.stacked {
    display: inline;
}

.checkbox-container div {
    display: inline-block;
}

.checkbox-container label {
    margin-right: 1.5px;
}

.radio-inline input[type="radio"], .checkbox-inline input[type="checkbox"] {
    position: relative;
}

.indented-field-container {
    padding-left:  46px;
}

textarea.form-control {
    background: rgba(255,255,255,.1);
    border: 0;
    border-radius: 0px;
    margin: 0;
    outline: 0;
    padding: 4px;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #e8eeef;

    margin-bottom: 0px;
}

textarea.form-control:focus {
    outline: 0;
}


/*MEDIA QUERIES*/

/*Screens 768px wide and smaller*/
@media only screen and (max-width: 768px) {
    img {
        margin: 0 auto;
        display: block;
        position: static;
        max-width: 140px;
    }
    body {
        padding: 5px;
        padding-top: 0px;
    }
    form.mobile-helper .form-group, 
    form.mobile-helper .form-inline .form-group,
    form.mobile-helper .line-under, 
    form.mobile-helper .form-group .line-under, 
    .form-inline .selectors-container label:first-child, 
    .form-inline .help-container {
        width: 100%;
    }
    form.mobile-helper .form-group label, .form-inline .selector-container, .form-inline .selector-container label:first-child {
        width: auto;
    }
    .help-container {
        margin-bottom: 20px;
    }
    .indented-field-container {
        padding-left: 0px
    }
    form.mobile-helper .indented-field-container .form-group .line-under {
        width: 50%;
    }
}

/*Screens 991px wide and smaller*/
@media only screen and (max-width: 991px) {
   .header-text-container h3 {
        font-size: .95em;
   }
}


/*Screens 992px wide and up*/
@media only screen and (min-width: 992px) {
    .full-line-label {
        width: 12%;
    }
    .full-line {
        width: 87%;
    }
    .form-inline-1 label {
        width: 46%;
    }
    .form-inline-1 .line-under {
        width: 49%;
    }
    .form-inline-1 .field-2 label {
        width: 44%;
    }
    .form-inline-1 .line-under {
        width: 52%;
    }
    .form-inline .selectors-container label:first-child {
        width: 34%;
    }
    .form-inline-2 .field-1 label {
        width: 54%;
    }
    .form-inline-2 .field-1 .line-under {
        width: 42%;
    }
    .form-inline-2 .field-2 label {
        width: 36%;
    }
    .form-inline-2 .field-2 .line-under {
        width: 60%;
    }
    .form-inline-3 .field-1 label {
        width: 57%;
    }
    .form-inline-3 .field-1 .line-under {
        width: 39%;
    }
    .form-inline-3 .field-2 label {
        width: 46%;
    }
    .form-inline-3 .field-2 .line-under {
        width: 50%;
    }

    .form-inline-3 .field-3 label {
        width: 46%;
    }
    .form-inline-3 .field-3 .line-under {
        width: 52%;
    }
}

/*Screens 1199px wide and up*/
@media only screen and (min-width: 1199px) {
    .full-line-label {
        width: 10%;
    }
.full-line {
    width: 89%;
}
.form-inline-1 label {
    width: 38%;
}
.form-inline-1 .line-under {
    width: 58%;
}
.form-inline-1 .field-2 label {
    width: 37%;
}
.form-inline-1 .line-under {
    width: 59%;
}
.form-inline .selectors-container label:first-child {
    width: 30%;
}

.form-inline-2 .field-1 label {
    width: 44%;
}
.form-inline-2 .field-1 .line-under {
    width: 53%;
}
.form-inline-2 .field-2 label {
    width: 30%;
}
.form-inline-2 .field-2 .line-under {
    width: 66%;
}
.form-inline-3 .field-1 label {
    width: 47%;
}
.form-inline-3 .field-1 .line-under {
    width: 50%;
}
.form-inline-3 .field-2 label {
    width: 38%;
}
.form-inline-3 .field-2 .line-under {
    width: 58%;
}
.form-inline-3 .field-3 label {
    width: 38%;
}
.form-inline-3 .field-3 .line-under {
    width: 60%;
}

}